<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <div class="row">
                <h1 class="page-header">
                    Welcome Home!
                </h1>
            </div>

            <div class="row">
                <label for="voice-dropdown">Voice</label>
            </div>

            <div class="row">
                <select ng-model="selectedVoice"
                        id="voice-dropdown"
                        class="input input-sm">
                    <option value="">-- select voice --</option>
                    <option value="{{voice}}" ng-repeat="voice in voices">{{voice}}</option>
                </select>
            </div>

            <div class="row">
                <label for="input-text-field">Text</label>
            </div>
            <div class="row">
                <textarea id="input-text-field"
                          class="form-control"
                          rows="20"
                          placeHolder="Enter text ..."
                          ng-model="inputText">
                </textarea>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-sm btn-speak btn-default" ng-click="synthesizeText()">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Synthesize
                    </button>
                </div>
                <div class="col-sm-9">
                    <audio controls class="synhtesizer-audio" ng-src="{{file.path}}" type="audio/wav">
                    </audio>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <label for="download-button">Download recording:</label>
                </div>
                <div class="col-sm-7">
                    <a class="btn btn-default"
                       id="download-button"
                       href="{{file.path}}"
                       target="_self"
                       ng-disabled="file.path == undefined"
                       download="recording.wav">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>