bower.json
.bower.json
component.json
package.json
LICENSE
*.md
Gruntfile.js

angular/*
!angular/angular.js
!angular/angular.min.js

angular-cookies/angular-cookies.min.js.map

angular-ui-router/*
!angular-ui-router/release/
angular-ui-router/release/doc/

angular-nca-select2/*
!angular-nca-select2/src/

jquery/src/
jquery/dist/jquery.min.map
jquery/MIT-LICENSE.txt

lodash/dist/lodash.compat.js
lodash/dist/lodash.compat.min.js
lodash/dist/lodash.underscore.js
lodash/dist/lodash.underscore.min.js

stacktrace/*
!stacktrace/stacktrace.js

underscore.string/*
!underscore.string/lib/underscore.string.js
!underscore.string/dist/underscore.string.min.js

bootstrap/*
!bootstrap/dist
bootstrap/dist/css
bootstrap/dist/fonts
bootstrap/dist/js/npm.js

